**/*.map
.github/**
.gitignore
.travis.yml
.vscode-test/**
.vscode/**
architecture.md
CONTRIBUTING.md
Dockerfile
cli/**
demonstration.md
gulpfile.js
out/test/**
package-lock.json
package.npm.json
src/**
test/**
tsconfig.json
vsc-extension-quickstart.md